<div class="profile-container">
    <h2>Welcome back,!</h2>
  
    <div class="grid-container">
      <div class="grid-item balance">
        <!-- Aici adaugă conținut pentru balanță -->
        <h3>Balance</h3>
      </div>
  
      <div class="grid-item subscriptions">
        <!-- Aici adaugă conținut pentru total subscriptions -->
        <h3>Total Subscriptions</h3>
      </div>
  
      <div class="grid-item receipts">
        <!-- Aici adaugă conținut pentru receipts -->
        <h3>Receipts</h3>
      </div>
  
      <div class="grid-item transactions">
        <!-- Aici adaugă conținut pentru latest transactions -->
        <h3>Latest Transactions</h3>
      </div>
    </div>
  </div>